.resource-container {
  min-height: 100vh;
  padding: 15px;
  background: url("/img/p-img.jpg") no-repeat center center/cover;
}

.resource-title,
.resource-description {
  margin-top: 3rem;
  color: white;
}

.card-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.card-item {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border: 1px solid #6372ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-item h2{
  color: #6372ff !important;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: #6372ff;
  color: white;
  border-radius: 5px;
}

.back-button:hover {
  background: #6372ff;
  color: white;
  transition: 0.3s ease;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #6372ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1500px) {
  .card-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-item {
    font-size: 1.5rem;
    padding: 30px;
  }
}

@media (max-width: 1499px) {
  .card-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1023px) {
  .card-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-item {
    font-size: 1.1rem;
  }

}

@media (max-width: 767px) {
  .card-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-item {
    padding: 10px;
  }

  .card-item h2{
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .card-item {
    font-size: 1rem;
    padding: 10px;
  }
  .card-item h2 {
    font-size: 1rem !important;
    padding: 5px;
  }

  .resource-title {
    font-size: 3rem !important;
  }

  .resource-description {
    font-size: 1.2rem;
  }
}